@if (isInitialLoading()) {
  <div class="loading-overlay">
    <mat-progress-spinner mode="indeterminate" diameter="120"></mat-progress-spinner>
  </div>
} 
@else if(!error()){
  @if (statusMessage()) {
    <div class="notification" [class]="statusMessage()?.type">
      {{ statusMessage()?.text }}
    </div>
  }

  <div class="griglia">
    @for (card of Cards(); track $index) {
      <app-card-home [cards]="card"></app-card-home>
    } @empty {
      <div class="empty-state">
        Nessun dato disponibile per la Home.
      </div>
    }
  </div>
}
