@if (isInitialLoading()) {
  <div class="loading-overlay">
    <mat-progress-spinner mode="indeterminate" diameter="120"></mat-progress-spinner>
  </div>
} 
@else if(error()) {
  <div class="error-state">
    <p>{{ error() }}</p>
  </div>
}
@else if(!error()){
  @if (statusMessage()) {
    <div class="notification" [class]="statusMessage()?.type">
      {{ statusMessage()?.text }}
    </div>
  }

  <!-- <button 
    class="btn-outline btn-filter-toggle" 
    [class.active]="showFavoriteOnly()" 
    (click)="onShowFavoriteOnlyChange()">
    <span class="star-icon">{{ showFavoriteOnly() ? '📁' : '★' }}</span>
    {{ showFavoriteOnly() ? 'Mostra Tutti' : 'Mostra Preferiti' }}
  </button> -->
  <div class="scroll-container">
    <div class="griglia">
      @for (card of cards(); track $index) {
        <app-card-home [cards]="card"></app-card-home>
      } @empty {
        <div class="empty-state">
          Nessun dato disponibile per la Home.
        </div>
      }
    </div>
  </div>
  <!-- <p class="count-footer">Numero Totale Progetti: {{ pagination()?.totalCount || 0 }}</p> -->

}
