<div class="backdrop" (click)="onCancel()"></div>

<dialog open>
  <div class="np-panel">
    <h2 class="np-title">Nuovo cliente</h2>

    <form class="np-form np-form--grid" [formGroup]="customerForm" (ngSubmit)="submit()">
      @for (header of facade.headers; track header.key; let i = $index) {
        <div class="np-field np-field--grid">
          <app-text-input>
            <label class="np-label" [attr.for]="toId(header.key, i)">
              {{ header.label }}
            </label>

            <input
              class="np-input"
              type="text"
              [attr.id]="toId(header.key, i)"
              [formControlName]="header.key"
              (input)="onFieldChange()"
            />
          </app-text-input>

          @if (
            customerForm.get(header.key)?.invalid && 
            (customerForm.get(header.key)?.touched || attemptedSubmit())
          ) {
            <p class="error">
              @if (customerForm.get(header.key)?.hasError('required')) {
                *campo obbligatorio
              }
              @if (customerForm.get(header.key)?.hasError('pattern') && header.key !== 'streetNumber') {
                *sono accettati solo numeri
              }
              @if (customerForm.get(header.key)?.hasError('pattern') && header.key === 'streetNumber') {
                *sono accettati solo civici
              }
            </p>
          }
        </div>
      }

      <div class="actions">
        <button type="submit" [class.button-disabled]="customerForm.invalid">Aggiungi cliente</button>
        <button type="button" (click)="onCancel()">Annulla</button>
      </div>
    </form>
  </div>
</dialog>