@use 'variables' as *;

.actions button[type='submit'].button-disabled {
  border-color: $color-primary-disabled !important;
  background: $color-primary-disabled !important;
  color: rgba($text-dark, 0.55) !important;
  opacity: 1;
  cursor: pointer;
  box-shadow: none !important;
}