<header class="detail-header">
  <button appButton type="button" (click)="indietro()">← Indietro</button>
</header>
<h2>Dettaglio cliente</h2>

@if (loading()) {
  <p>Caricamento...</p>
} @else if (error()) {
  <p class="error">{{ error() }}</p>
} @else if (!cliente()) {
  <p>Cliente non trovato.</p>
} @else {
  @let c = cliente()!;

  <section class="card">
    @for (h of headersArray; track h.key) {
      @if(h.key !== 'activeProjects') {
         <div class="row">
            <span class="label">{{ h.label }}</span>
            <div class="value-container">
              <strong class="value">{{ getValue(c, h.key) }}</strong>
              @if(h.key === 'projects'){
                <button appButton class="btn btn-primary project-btn" (click)="vaiAiProgetti()">Progetti del cliente</button>
              }
            </div>
        </div>
      }
    }
  </section>

}
