@use 'variables' as *;

/* HOST (Riga tabella) */

:host {
  border-bottom: 1px solid $border-filter-light;
  transition: $transition-base;

  &:hover {
    background-color: $bg-app-shell;
  }

  &:last-child {
    border-bottom: none;
  }
}

td {
  padding: 1rem 0.875rem;
  color: $text-filter-medium;
  font-size: 0.9375rem;
}

.actions-cell {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
}