<header class="detail-header">
  <button appButton class="btn-small" (click)="indietro()">← Indietro</button>
</header>
<h2>Dettaglio cliente</h2>

@if (loading()) {
  <p>Caricamento...</p>
} @else if (error()) {
  <p class="error">{{ error() }}</p>
} @else if (!customer()) {
  <p>Cliente non trovato.</p>
} @else {
  @let c = customer()!;
  <div class="main-content-wrapper">
    <div class="card-cliente">
      @for (h of headersArray; track h.key) {
        @if(h.key !== 'activeProjects') {
          <div class="row">
              <span class="label">{{ h.label }}</span>
              <div class="value-container">
                <strong class="value">{{ getValue(c, h.key) }}</strong>
                @if(h.key === 'projects'){
                  <button appButton class="btn btn-primary project-btn" (click)="showProjects()">Progetti del cliente</button>
                }
              </div>
          </div>
        }
      }
    </div>
    @if(showActiveProjects()){
      <div class="card-progetti">
        @if (customer()!.activeProjects.length === 0) {
          <p>Nessun progetto attivo.</p>
        } @else {
            @for (progetto of customer()!.activeProjects; track progetto.id) {
              <ul>
                <h4>{{ progetto.name }}</h4>
                  @for (h of headersProgettiArray; track h.key) {
                    @if(h.key !== 'id' && h.key !== 'name') {
                    <div class="row">
                      <span class="label">{{ h.label }}</span>
                        <div class="value-container">
                          <strong class="value">{{ getProgettoValue(progetto, h.key) }}</strong>
                        </div>
                    </div>
                    }
                  }                                    
              </ul>
            }
        }      
      </div>
    }
  </div>
}
