<div class="backdrop" (click)="onCancel()"></div>

<dialog open>
  <div class="np-panel">
    <h2 class="np-title">Nuovo Ruolo</h2>

    <form class="np-form np-form--grid" [formGroup]="roleCreateForm" (ngSubmit)="submit()">
      @for (header of facade.headers; track header.key; let i = $index) {
        <div class="np-field np-field--grid">
          <app-text-input>
            <label class="np-label" [attr.for]="toId(header.key, i)">
              {{ header.label }}
            </label>
            <input
              class="np-input"
              type="text"
              [attr.id]="toId(header.key, i)"
              [formControlName]="header.key"
              (input)="onFieldChange()"
            />
          </app-text-input>

          @if (
            roleCreateForm.get(header.key)?.invalid && (roleCreateForm.get(header.key)?.touched || attemptedSubmit)
          ) {
            <p class="error">
              @if (roleCreateForm.get(header.key)?.errors?.['required']) {
                *{{ facade.getRequiredErrorMessage(header.key) }}
              }
            </p>
          }
        </div>
      }

      @if (statusMessage) {
        <div class="message message--{{ statusMessage.type }}">
          {{ statusMessage.text }}
        </div>
      }

      <div class="actions">
          <button 
            type="submit" 
            [attr.aria-disabled]="isButtonDisabled"
            [class.btn--disabled]="isButtonDisabled"
            (click)="onSubmitClick($event)">
            Crea Ruolo
          </button>
        <button type="button" (click)="onCancel()">Annulla</button>
      </div>
    </form>
  </div>
</dialog>