:host {
  box-sizing: border-box;
}

h1 {
  font-size: 3.125rem;
  color: #000;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
}

main {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 150px) 5fr;
  gap: 2rem;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

@media screen and (max-width: 650px) {
}
