<section class="resource-details-grid">
    <header class="d-flex align-items-center py-3 mb-4">
        <h1 class="m-0 text-dark"><strong>{{resource()?.employee}}</strong></h1>
    </header>
    <form class="form" [formGroup]="editMonthlyManagementsForm" (ngSubmit)="saveData()">
        <div>
            <h3 class="section-title">Recap Risorsa</h3>
            <div class="recap-grid">
                <app-text-input [class.input-recap-active]="isEditMode()">
                    <label>{{recapDataHeaders.BudgetTotale}} €</label>
                    <input type="text" [value]="budgetTotale()" readonly>
                </app-text-input>
                <app-text-input [class.input-recap-active]="isEditMode()">
                    <label>{{recapDataHeaders.TotaleRicavi}} €</label>
                    <input type="text" [value]="totaleRicavi()" readonly> <!-- Placeholder for actual value -->
                </app-text-input>
                <app-text-input [class.input-recap-active]="isEditMode()">
                    <label>{{recapDataHeaders.BudgetWin}}</label>
                    <input type="text" [value]="budgetWin()" readonly> <!-- Placeholder for actual value -->
                </app-text-input>
                <app-text-input [class.input-recap-active]="isEditMode()">
                    <label>{{recapDataHeaders.TotaleConsuntivate}}</label>
                    <input type="text" [value]="totaleConsuntivate()" readonly> <!-- Placeholder for actual value -->
                </app-text-input>
                <app-text-input [class.input-recap-active]="isEditMode()" [class.delta-warning]="deltaValue() !== 0">
                    <label>{{recapDataHeaders.Delta}}</label>
                    <input type="text" [value]="delta()" readonly> <!-- Placeholder for actual value -->
                </app-text-input>
                <app-text-input [class.input-recap-active]="isEditMode()">
                    <label>{{recapDataHeaders.Tariffa}} €</label>
                    <input type="text" [value]="formattedDailyTariff()" readonly>
                </app-text-input>
            </div>
            <h3 class="section-title">Gestione Mensile</h3>


            <div class="year-picker-container">
                <button type="button" class="btn-spinner" (click)="changeYear(-1)">◀</button>
                <mat-form-field appearance="outline" class="year-picker-field" subscriptSizing="dynamic">
                    <input matInput 
                        [formControl]="yearSelected"
                        [matDatepicker]="releasedAtPicker"
                        readonly
                        (click)="releasedAtPicker.open()">
                        
                    
                    <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
                    
                    <mat-datepicker #releasedAtPicker 
                                    startView="multi-year"
                                    (yearSelected)="chosenYearHandler($event, releasedAtPicker)">
                    </mat-datepicker>
                </mat-form-field>
                <button type="button" class="btn-spinner" (click)="changeYear(1)">▶</button>
            </div>

            <div class="gestione-mensile-wrapper">
                
                <div class="semester-block">
                    <div class="grid-row header-row">
                        <span>Mese</span>
                        <span class="text-center">Giorni Occupati</span>
                        <span class="text-center">Conferma</span>
                    </div>

                    @for (mese of firstSemester(); track mese.name) {
                        <div class="grid-row align-center">
                            <strong class="month-label">{{ mese.name }}</strong>
                            
                            <app-text-input>
                                <input type="text" inputmode="decimal"
                                    [formControlName]="'month_' + mese.month + '_days'" 
                                    [readonly]="!isEditMode()"
                                    (blur)="normalizeDayControl('month_' + mese.month + '_days')"
                                    (wheel)="onWheel($event)">
                            </app-text-input>        
                            <div class="checkbox-container">
                                <input type="checkbox" 
                                    [formControlName]="'month_' + mese.month + '_confirm'">
                            </div>
                        </div>
                        <div>
                            @if (editMonthlyManagementsForm.get('month_' + mese.month + '_days')?.hasError('max')) {
                                <span class="error-text">
                                    Non puoi inserire più di {{ resource()?.daysSpent }} giorni in un solo mese!
                                </span>
                            }
                            @else if (editMonthlyManagementsForm.get('month_' + mese.month + '_days')?.hasError('min')) {
                                <span class="error-text">
                                    Non puoi inserire un numero di giorni negativo!
                                </span>
                            }       
                        </div>
                    }
                </div> 
                
                <div class="vertical-divider"></div>

                <div class="semester-block">
                    <div class="grid-row header-row">
                        <span>Mese</span>
                        <span class="text-center">Giorni Occupati</span>
                        <span class="text-center">Conferma</span>
                    </div>

                    @for (mese of secondSemester(); track mese.name) {
                        <div class="grid-row align-center">
                            <strong class="month-label">{{ mese.name }}</strong>
                            
                            <app-text-input>
                                <input type="text" inputmode="decimal"
                                    [formControlName]="'month_' + mese.month + '_days'" 
                                    [readonly]="!isEditMode()"
                                    (blur)="normalizeDayControl('month_' + mese.month + '_days')"
                                    (wheel)="onWheel($event)">
                            </app-text-input>
                            <div class="checkbox-container">
                                <input type="checkbox" 
                                    [formControlName]="'month_' + mese.month + '_confirm'">
                            </div>
                        </div>
                        <div>
                            @if (editMonthlyManagementsForm.get('month_' + mese.month + '_days')?.hasError('max')) {
                                <span class="error-text">
                                    Non puoi inserire più di {{ resource()?.daysSpent }} giorni in un solo mese!
                                </span>
                            }    
                            @else if (editMonthlyManagementsForm.get('month_' + mese.month + '_days')?.hasError('min')) {
                                <span class="error-text">
                                    Non puoi inserire un numero di giorni negativo!
                                </span>
                            }  
                        </div>
                    }
                </div> 

            </div>
        @if(this.canEditGlobal() || this.canManage(this.project()!)) {
            @if(isEditMode()) {
                <div class="recap-counter">
                    <span>Giorni rimanenti: <strong>{{ formattedRemainingDays() }}</strong></span>
                </div>
                <!-- @if (isTotalExceeded()) {
                    <div class="error-message global-error">
                        Attenzione: La somma dei giorni inseriti supera i {{ resource()?.daysSpent }} giorni totali disponibili per questa risorsa!
                    </div>
                } -->
                <div class="actions">
                    <button appButton 
                            type="submit" 
                            class="btn-small" 
                            [disabled]="editMonthlyManagementsForm.invalid">
                        Salva
                    </button>
                    <button appButton type="button" class="btn-small btn-outline" (click)="toggleEditMode()">Annulla</button>
                </div>
            } @else {               
                <div class="actions">
                    <button appButton type="button" class="btn-small" (click)="toggleEditMode()">Modifica</button>
                </div>
            }     
        }      
        </div>
    </form>
</section>
