<section class="resource-details-grid">
    <header class="d-flex align-items-center py-3 mb-4">
        <h1 class="m-0 text-dark"><strong>{{resource()?.employee}}</strong></h1>
    </header>
    <div>
        <h3 class="section-title">Recap</h3>
        <div class="recap-grid">
            <app-text-input>
                <label>{{resourceDetailsHeaders.BudgetTotale}}</label>
                <input type="text" [value]="((resource()?.dailyCost ?? 0) * (resource()?.daysSpent ?? 0))" [readonly] = "!isEditMode()">
            </app-text-input>
            <app-text-input>
                <label>{{resourceDetailsHeaders.TotaleRicavi}}</label>
                <input type="text" [value]="(0)" [readonly] = "!isEditMode()"> <!-- Placeholder for actual value -->
            </app-text-input>
            <app-text-input>
                <label>{{resourceDetailsHeaders.BudgetWin}}</label>
                <input type="text" [value]="(0)" [readonly] = "!isEditMode()"> <!-- Placeholder for actual value -->
            </app-text-input>
            <app-text-input>
                <label>{{resourceDetailsHeaders.TotaleConsuntivate}}</label>
                <input type="text" [value]="(0)" [readonly] = "!isEditMode()"> <!-- Placeholder for actual value -->
            </app-text-input>
            <app-text-input>
                <label>{{resourceDetailsHeaders.Delta}}</label>
                <input type="text" [value]="(0)" [readonly] = "!isEditMode()"> <!-- Placeholder for actual value -->
            </app-text-input>
            <app-text-input>
                <label>{{resourceDetailsHeaders.CostoGiornaliero}}</label>
                <input type="text" [value]="((resource()?.dailyCost ?? 0))" [readonly] = "!isEditMode()">
            </app-text-input>
        </div>
        <h3 class="section-title">Gestione Mensile</h3>

        <div class="gestione-mensile-wrapper">
            
            <div class="semester-block">
                <div class="grid-row header-row">
                    <span>Mese</span>
                    <span class="text-center">Giorni Occupati</span>
                    <span class="text-center">Tariffa</span>
                    <span class="text-center">Conferma</span>
                </div>

                @for (mese of firstSemester(); track mese.name) {
                    <div class="grid-row align-center">
                        <strong class="month-label">{{ mese.name }}</strong>
                        
                        <app-text-input>
                            <input type="number" 
                                [(ngModel)]="mese.days" 
                                [readonly]="!isEditMode()">
                        </app-text-input>
                        
                        <app-text-input>
                            <input type="number" 
                                [(ngModel)]="mese.tariffs" 
                                [readonly]="!isEditMode()">
                        </app-text-input>
                        
                        <div class="checkbox-container">
                            <input type="checkbox" 
                                [(ngModel)]="mese.confirm" 
                                [disabled]="!isEditMode()">
                        </div>
                    </div>
                }
            </div> 
            
            <div class="vertical-divider"></div>

            <div class="semester-block">
                <div class="grid-row header-row">
                    <span>Mese</span>
                    <span class="text-center">Giorni Occupati</span>
                    <span class="text-center">Tariffa</span>
                    <span class="text-center">Conferma</span>
                </div>

                @for (mese of secondSemester(); track mese.name) {
                    <div class="grid-row align-center">
                        <strong class="month-label">{{ mese.name }}</strong>
                        
                        <app-text-input>
                            <input type="number" 
                                [(ngModel)]="mese.days" 
                                [readonly]="!isEditMode()">
                        </app-text-input>
                        
                        <app-text-input>
                            <input type="number" 
                                [(ngModel)]="mese.tariffs" 
                                [readonly]="!isEditMode()">
                        </app-text-input>
                        
                        <div class="checkbox-container">
                            <input type="checkbox" 
                                [(ngModel)]="mese.confirm" 
                                [disabled]="!isEditMode()">
                        </div>
                    </div>
                }
            </div> 

        </div>

        @if(isEditMode()) {
            <div class="actions">
                <button appButton class="btn-small" (click)="saveData()">Salva</button>
                <button appButton class="btn-small btn-outline" (click)="toggleEditMode()">Annulla</button>
            </div>
        } 
        @else {
            <div class="actions">
                <button appButton class="btn-small" (click)="toggleEditMode()">Modifica</button>
            </div>
        }           
    </div>
</section>