<app-table-row [cols]="colsCount">
  @for (c of columns; track c.header) {
    <div
      class="tbl-cell"
      [class.tbl-cell--right]="c.align === 'right'"
      [class.tbl-cell--center]="c.align === 'center'"
    >
      {{ c.value(project()) }}
    </div> 
  }
    <div class="tbl-cell tbl-cell--actions">
      <!-- Link diretto al dettaglio del progetto -->
        <button [routerLink]="['/progetti', project().id]" class="btn-action-icon btn-details" type="button" 
          matTooltip="Dettagli" 
          matTooltipPosition="above"
          aria-label="Dettagli">
          <mat-icon class="action-icon">visibility</mat-icon>
        </button>
          
        <button class="btn-action-icon btn-edit" type="button" 
          (click)="openEdit(project())"
          matTooltip="Modifica" 
          matTooltipPosition="above"
          aria-label="Modifica">
          <mat-icon class="action-icon">edit</mat-icon>
        </button>
    </div>
</app-table-row> <!-- elemento Progetto, equivalente ad una riga -->
