<header class="detail-header">
  <button appButton class="btn-small" (click)="indietro()">← Indietro</button>
</header>
<h2>Dettaglio cliente</h2>

@if (loading()) {
  <p>Caricamento...</p>
} @else if (error()) {
  <p class="error">{{ error() }}</p>
} @else if (!customer()) {
  <p>Cliente non trovato.</p>
} @else {
  @let c = customer()!;
  <div class="main-content-wrapper">
    <div class="card-cliente">
      @for (h of headersArray; track h.key) {
        @if(h.key !== 'activeProjects') {
          <div class="row">
              <span class="label">{{ h.label }}</span>
              <div class="value-container">
                <strong class="value">{{ getValue(c, h.key) }}</strong>
              </div>
          </div>
        }
      }
    </div>
    @if (customerRecap()) {
      <div class="card-cliente">
        <h3>Recap cliente</h3>
        <div class="row">
          <span class="label">Totale ricavi</span>
          <div class="value-container">
            <strong class="value">{{ getRecapValue('totalRevenues') }}</strong>
          </div>
        </div>
        <div class="row">
          <span class="label">Budget totale</span>
          <div class="value-container">
            <strong class="value">{{ getRecapValue('budgetTotale') }}</strong>
          </div>
        </div>
        <div class="row">
          <span class="label">Budget win</span>
          <div class="value-container">
            <strong class="value">{{ getRecapValue('budgetWin') }}</strong>
          </div>
        </div>
      </div>
    }

    <div class="card-progetti">
      @if (customer()!.activeProjects.length === 0) {
        <p>Nessun progetto attivo.</p>
      } @else {
          @if(customer()){
            <div class="card-progetti">
              <app-customer-projects [selectedCustomer]="customer()!"></app-customer-projects>
            </div>
          }
      }      
    </div>
  </div>
}
