<header class="detail-header">
  <button appButton class="btn-small" (click)="indietro()">← Indietro</button>
</header>
<h2>Dettaglio cliente</h2>

@if (loading()) {
  <p>Caricamento...</p>
} @else if (error()) {
  <p class="error">{{ error() }}</p>
} @else if (!customer()) {
  <p>Cliente non trovato.</p>
} @else {
  @let c = customer()!;
  <div class="main-content-wrapper">
    <div class="card-cliente">
      @for (h of headersArray; track h.key) {
        @if(h.key !== 'activeProjects') {
          <div class="row">
              <span class="label">{{ h.label }}</span>
              <div class="value-container">
                <strong class="value">{{ getValue(c, h.key) }}</strong>
              </div>
          </div>
        }
      }
    </div>
    <div class="card-progetti">
      @if (customer()!.activeProjects.length === 0) {
        <p>Nessun progetto attivo.</p>
      } @else {
          @if(customer()){
            <div class="card-progetti">
              <app-customer-projects [selectedCustomer]="customer()!"></app-customer-projects>
            </div>
          }
      }      
    </div>
  </div>
}
