<div class="backdrop" (click)="onCancel()"></div>

<dialog open>
  <div class="np-panel">
    <h2 class="np-title">Nuovo cliente</h2>

    <form class="np-form np-form--grid" #f="ngForm" (ngSubmit)="submit(f)">
      @for (header of headers; track header.key; let i = $index) {
        <div class="np-field np-field--grid">
          <app-text-input>
            <label class="np-label" [attr.for]="toId(header.key, i)">
              {{ header.label }}
            </label>

            <input
              class="np-input"
              type="text"
              [attr.id]="toId(header.key, i)"
              [name]="header.key"
              [(ngModel)]="formData[header.key]"
              required
              [pattern]="isNumericField(header.key) ? '^[0-9]+$' : ''"
            />
          </app-text-input>

          @if (
            f.controls[header.key]?.invalid && (f.controls[header.key]?.touched || f.submitted)
          ) {
            <p class="error">
              @if (f.controls[header.key]?.errors?.['required']) {
                *campo obbligatorio
              }
              @if (f.controls[header.key]?.errors?.['pattern']) {
                *sono accettati solo numeri
              }
            </p>
          }
        </div>
      }

      <div class="actions">
        <button type="submit" [disabled]="f.invalid">Aggiungi cliente</button>
        <button type="button" (click)="onCancel()">Annulla</button>
      </div>
    </form>
  </div>
</dialog>
