:host {
  display: flex;
  min-width: 0;
}

.progetto-cell {
  white-space: normal;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

/* allineamenti */
:host(.cell-right) {
  text-align: left;
  font-variant-numeric: tabular-nums;
}

:host(.cell-center) {
  text-align: center;
}