<header class="detail-header">
  <button appButton class="btn-small" (click)="indietro()">← Indietro</button>
</header>
<h2>Dettaglio progetto</h2>

@if (loading()) {
  <p>Caricamento...</p>
} 
@else if (error()) {
  <p class="error">{{ error() }}</p>
} 
@else if (!project()) {
  <p>Progetto non trovato.</p>
} 
@else {
  @let p = project()!;

  <section class="card-progetto">
    @for (h of headersArray; track h.key) {
      @if (h.key !== 'projectJobRoles' && h.key !== 'projectEmployees') {
        <div class="row">
          <span class="label">{{ h.label }}</span>
          <strong class="value">{{ getValue(p, h.key) }}</strong>
        </div>
      }
    }
  </section>

  <!-- @if (p.projectJobRoles && p.projectJobRoles.length > 0) {
    <h3 style="margin-top: 2rem; margin-left: 1rem;">Ruoli</h3>
    <section class="card">
      <table class="roles-table">
        <thead>
          <tr>
            <th>Ruolo</th>
            <th>Livello</th>
            <th>Costo Giornaliero</th>
            <th>Giorni Spesi</th>
            <th>Win %</th>
          </tr>
        </thead>
        <tbody>
          @for (role of p.projectJobRoles; track role.id) {
            <tr>
              <td><strong>{{ role.jobRole }}</strong></td>
              <td>{{ role.jobRoleLevel }}</td>
              <td>€{{ role.dailyCost }}</td>
              <td>{{ role.daysSpent }}</td>
              <td>{{ role.winProbability }}%</td>
            </tr>
          }
        </tbody>
      </table>
    </section>
  } -->
  <!-- IMPORTANT: Per il momento, disattiviamo i ruoli in Visualizza. L'idea sarà di unirli con i dipendenti -->

  @if (displayedProjectEmployees() && displayedProjectEmployees().length > 0) {
    <h3 style="margin-top: 2rem; margin-left: 1rem;">Risorse</h3>
    <section class="card-risorse">
      <table class="roles-table">
        <thead>
          <tr>
            <th>Risorsa</th>
            <th>Ruolo</th>
            <th>Livello</th>
            <th>Tariffa</th>
            <th>Giorni Spesi</th>
            <th>Win %</th>
          </tr>
        </thead>
        <tbody>
          @for (employee of displayedProjectEmployees(); track employee.id) {
            <tr class="resource-row" (click)="openEmployeeDetails(employee)">
              <td><strong>{{ employee.employee }}</strong></td>
              <td>{{ employee.jobRole }}</td>
              <td>{{ employee.jobRoleLevel }}</td>
              <td>€{{ employee.dailyCost }}</td>
              <td>{{ employee.daysSpent }}</td>
              <td>{{ employee.winProbability }}</td>
            </tr>
          }
        </tbody>
      </table>
    </section>
  }
  @if(selectedResource()) {
    <div class="drawer-overlay" (click)="selectedResource.set(null)"></div>

    <div class="drawer-panel">
      <button class="drawer-close-btn" (click)="selectedResource.set(null)">×</button>
      <app-resource-details-grid 
        [resource]="selectedResource()"
        (closeDrawer)="selectedResource.set(null)"
      ></app-resource-details-grid>
   </div>

  }
}
