<td class="workgroup-name">{{ workGroup().name }}</td>
<td class="actions-cell">
  <button class="btn-action-icon btn-details" type="button" 
    (click)="showResources.emit(workGroup())"
    matTooltip="Risorse Associate" 
    matTooltipPosition="above"
    aria-label="Dettagli">
    <mat-icon class="action-icon">visibility</mat-icon>
  </button>   
  <button class="btn-action-icon btn-edit" type="button" 
    (click)="editWorkGroup.emit(workGroup())"
    [matTooltip]="'Modifica'"
    matTooltipPosition="above"
    aria-label="Modifica">
    <mat-icon class="action-icon">edit</mat-icon>
  </button>
  <button
    class="icon-btn tooltip-container"
    type="button"
    data-tooltip="Assegna Risorse al Gruppo"
    (click)="assignResourcesToGroups.emit(workGroup())">
    <span class="material-symbols-outlined bold-icon">add</span>
  </button>

  <button class="btn-action-icon btn-remove-single" type="button" 
    (click)="deleteWorkGroup.emit(workGroup())"
    [matTooltip]="'Elimina'"
    matTooltipPosition="above">
    <mat-icon class="action-icon">delete</mat-icon>
  </button>
</td>
