@use 'variables' as *;

@forward './styles/filter-styles.scss';
@forward './styles/form-styles.scss';
@forward './styles/buttons-styles.scss';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/* RESET E STILI GLOBALI */

* {
  // Garantisce che padding e border non allarghino le dimensioni degli elementi
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  
  color: $text-dark;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  background-color: $bg-layout; 
}

/* CLASSI DI UTILITÀ GLOBALI */
// Classi usate ovunque nel progetto

.text-center {
  text-align: center;
}

.d-none {
  display: none !important;
}

.snackbar-success {
  /* Variabili di Angular Material MDC */
  --mdc-snackbar-container-color: #2e7d32;
  --mdc-snackbar-label-text-color: #ffffff;
  --mat-snack-bar-button-color: #ffffff;

  .mdc-snackbar__surface {
    background-color: #2e7d32 !important;
  }
  .mdc-snackbar__label {
    color: #ffffff !important;
  }
  .mat-mdc-snack-bar-action button {
    color: #ffffff !important;
  }
}
.snackbar-error {
  /* Variabili di Angular Material MDC */
  --mdc-snackbar-container-color: #d32f2f;
  --mdc-snackbar-label-text-color: #ffffff;  
  --mat-snack-bar-button-color: #ffffff;     

  /* Fallback corazzato */
  .mdc-snackbar__surface {
    background-color: #d32f2f !important;
  }
  .mdc-snackbar__label {
    color: #ffffff !important;
  }
  .mat-mdc-snack-bar-action button {
    color: #ffeb3b !important;
    font-weight: 700;
  }
}