@if(isFetching()){
  <h2>Acquisendo i clienti dal database...</h2>
}

@if(clienteInModifica()) {
  <app-modifica-cliente 
    [clienteDaModificare]="clienteInModifica()!" 
    (cancel)="chiudiModifica()" 
    (modified)="salvaModifica($event)"/>
}

@if (isClienteInAggiunta) {
  <app-new-cliente (cancel)="annullaAggiuntaCliente()" (created)="aggiungiCliente($event)" />
}

<h2>Clienti</h2>

<!-- Headers Tabella -->
<app-table-row [cols]="clientiColsCount + 1">
  @for (c of columns; track c.header) {
    <div class="tbl-header">
      <!-- inserimento dei titoli dei valori per numero di tipo di valori -->
      <strong>{{ c.header }}</strong>
    </div>
  }
  <div class="tbl-header tbl-header--actions">
    <strong>Azioni</strong>
  </div>
</app-table-row>

<!-- Righe -->
@for (cliente of Clienti(); track cliente.id) {
  <!-- inserimento dei dati per n. clienti presenti distribuiti sulle colonne -->
  <app-cliente [cliente]="cliente" [columns]="columns" (edit)="apriModifica($event)"></app-cliente>
}
<p>Numero clienti: {{ Clienti()?.length }}</p> <!-- for debugging purposes -->

<header class="actions">
  <button appButton (click)="onAggiuntaCliente()">
    Aggiungi Cliente
    <span class="icon">+</span>
  </button>
</header>

@if (statusMessage()) {
  <div class="toast-container" [class]="statusMessage()?.type">
    {{ statusMessage()?.text }}
  </div>
}


