@if(isFetching()){
  <h2>Acquisendo i progetti dal database...</h2>
}

@if(progettoInModifica()) {
  <app-modifica-progetto 
    [progettoDaModificare]="progettoInModifica()!" 
    (cancel)="chiudiModifica()" 
    (saved)="salvaModifica($event)"/>
}

@if(isProgettoInAggiunta){
  <app-new-progetto (cancel)="annullaAggiuntaProgetto()" (created)="aggiungiProgetto($event)"/>
}
<header class="actions">
  <button appButton (click)="onAggiuntaProgetto()">
    Aggiungi Progetto
    <span class="icon">+</span>
  </button>
  <button appButton (click)="aggiornaProgetti()">
    Aggiorna
  </button>
</header>

<!-- Header -->
<app-table-row [cols]="progettiColsCount + 1">
  @for (c of columns; track c.header) {
    <div class="tbl-header">
      <strong>{{ c.header }}</strong> <!-- inserimento dei titoli dei valori per numero di tipo di valori -->
    </div>
  }
  <div class="tbl-header tbl-header--actions">
    <strong>Azioni</strong>
  </div>
</app-table-row>

<!-- Righe -->
@for (progetto of progetti(); track progetto.id) {
  <app-progetto [progetto]="progetto" [columns]="columns" (edit)="apriModifica($event)"></app-progetto> <!-- inserimento dei dati per n. progetti presenti distribuiti sulle colonne -->
}
<p>Numero progetti: {{ progetti().length }}</p> <!-- for debugging purposes -->

@if (statusMessage()) {
  <div class="toast-container" [class]="statusMessage()?.type">
    {{ statusMessage()?.text }}
  </div>
}