@if(isProgettoInAggiunta){
  <app-new-progetto (cancel)="annullaAggiuntaProgetto()" (created)="aggiungiProgetto($event)"/>
}
<header>
  <button appButton (click)="onAggiuntaProgetto()">
    Aggiungi Progetto
    <span class="icon">+</span>
  </button>
</header>

<!-- Header -->
<app-table-row [cols]="progettiColsCount">
  @for (c of columns; track c.header) {
    <div class="tbl-header">
      <strong>{{ c.header }}</strong> <!-- inserimento dei titoli dei valori per numero di tipo di valori -->
    </div>
  }
</app-table-row>

<!-- Righe -->
@for (progetto of Progetti(); track progetto.id) {
  <app-progetto [progetto]="progetto" [columns]="columns"></app-progetto> <!-- inserimento dei dati per n. progetti presenti distribuiti sulle colonne -->
}
<p>Numero progetti: {{ Progetti()?.length }}</p> <!-- for debugging purposes -->